@font-face {
    font-family: 'Prompt-Regular';
    src: url('/Ragnarok-data/fonts/Prompt-Regular.ttf')
}
/* { process.env.BACKEND_URL + '/css/style.css'} */
@font-face {
    font-family: 'Prompt-Medium';
    src: url('/Ragnarok-data/fonts/Prompt-Medium.ttf')
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url('/Ragnarok-data/fonts/Prompt-Bold.ttf')
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prompt-Medium';
}

.title {
    font-family: 'Prompt-Regular';
}

a {
    color: green;
}

a:hover {
    color: darkgreen;
}